.ovp-hero-section {
  background: linear-gradient(135deg, #003d66, #005b99);
  height: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  display: flex;

  color: white;
  text-align: left;
}

.ovp-hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.ovp-hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.ovp-hero-description {
  font-size: 1.2rem;
  max-width: 800px;
}

/* About Section */
.ovp-about-section {
  background-color: #f4f4f4;
  padding: 3rem;
  text-align: left;
}

.ovp-about-content {
  max-width: 800px;
}

.ovp-section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.ovp-section-description {
  font-size: 1.2rem;
  color: #333;
}

/* Upcoming Content Section */
.ovp-upcoming-content {
  background-color: #ffffff;
  padding: 3rem;
  text-align: center;
}

.ovp-content-list {
  list-style-type: none;
  padding: 0;
}

.ovp-content-list li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

@media screen and (max-width: 900px) {
  .ovp-hero-title {
    font-size: 3.5rem;
    padding: 30px;
  }
  .ovp-hero-description {
    font-size: 1rem;
    padding: 30px;
  }
  .ovp-hero-subtitle {
    font-size: 1.2rem;
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  .ovp-hero-description {
    font-size: 0.8rem;
    padding: 30px;
  }
}
